<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Sinatra/Fly/Sqlite Example</title>
  </head>
  <body>
    <main class="container">
      <h1>The Beatles</h1>
      <ul id="beatles">
      <% people.each do |person| %>
        <li class="beatle"><%= person.first_name %> <%= person.last_name %></li>
      <% end %>
      </ul>
    </main>
  </body>
</html>